<tr id="{{row[0]}}">
    <td style="text-align: center;">{{row[1]}}</td>
    <td style="text-align: center;">{{row[2]}}</td>
    <td style="text-align: center;" id="Nome{{row[0]}}">{{row[3]}}</td>
    <td style="text-align: center;" id="Cargo{{row[0]}}">{{row[4]}}</td>
    <td style="text-align: center;" id="Risco_c{{row[0]}}">{{row[6]}}</td>
    <td style="text-align: center;" id="Risco_e{{row[0]}}">{{row[7]}}</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary Editar" id="Editar" data-toggle="modal" data-target="#editar-modal">Editar</button></td>
</tr>